html {
  display: flex;
  flex-direction: column;
  background: rgb(181, 230, 181);
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 16px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px black;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-align: center;
  font-size: 20px;
  color: rgb(30, 95, 0);
  text-decoration: none;
  margin: 8px;
  padding: 12px 16px;
  box-shadow: 0 0 4px black;
  border-radius: 8px;
}

a:hover {
  color: white;
  background-color: rgb(108, 160, 83);
}

p {
  font-size: 20px;
  color: rgb(30, 95, 0);
  margin: 8px;
}
