* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background:
    url(images/chika1.png) top left/60vh 100vh repeat-y fixed, 
    url(images/chika2.png) top right/60vh 100vh repeat-y fixed;
    background-size:  auto 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 8px;
    max-width: 770px;
    box-shadow: 0 0 4px black;
    color:rgb(48, 48, 48);
    background-color: white;
    text-align: justify;
    min-height: calc(100vh - 16px);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px black;
    margin: 8px;
    padding: 12px;
    font-size: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

header a{
    color:rgb(48, 48, 48);
    font-size: 32px;
}

div#clock {
    text-align: center;
    font-size: 32px;
}

hr.solid {
    border: 1px solid white;
    box-shadow: 0 0 2px black;
}

.content {
    margin: 12px;
}

.flex_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px auto;
}

.flex_item {
    display: flex;
    box-shadow: 0 0 4px black;
    margin: 8px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 4px black;
    margin: 8px;
    padding: 12px;
    height: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: auto;
}

a {
    text-decoration: none;
    color: rgb(64, 128, 64);
    margin: 8px;
}

p {
    color: rgb(90, 90, 90);
    margin: 8px;
}

p#result_hello {
    margin: 0;
    margin-top: 4px;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-items-center input{
    width: 40px;
}

input {
    color: rgb(90, 90, 90);
    padding: 4px;
    margin: 8px 0;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 6px;
    height: 30px;
}

.button {
    border-radius: 6px;
    background-color: white;
    padding: 4px;
    margin: 8px 0;
    border: 1px solid rgb(64, 128, 64);
    border-color: rgb(64, 128, 64);
    color: rgb(64, 128, 64);
    padding: 9.5px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    color: white;
    background-color: rgb(64, 128, 64);
}

.form_hello {
    display: flex;
    flex-direction: column;
}

.form_hello p{
    margin: 4px 0;
    text-align: center;
}

.text-align-center {
    text-align: center;
}

@media (max-width: 800px) {
    .flex_cont {
        flex-direction: column;
    }
    
    body {
        background: url(images/chika1.png) top left/100% repeat-y fixed;
        background-size: 100% auto;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.85);
    }

    p {
        color: black;
    }
}